<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand fs-4 fw-bold custom-navbar-hover" href="#">Rovera</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link fs-5 active custom-navbar-hover" aria-current="page" href="/index.html">Dashboard</a>
                <a class="nav-link fs-5 custom-navbar-hover" href="/bookings.html">Bookings</a>
                <a class="nav-link fs-5 custom-navbar-hover" href="/cars.html">Cars</a>
                <a class="nav-link fs-5 custom-navbar-hover" href="/users.html">Users</a>
            </div>
        </div>
    </div>
</nav>
<!-- ... End of Navbar ... -->